@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'dune';
	default: true;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(0.7067 0.0932 77.3);
	--color-primary-content: oklch(0.3 0.0932 77.3);
	--color-secondary: oklch(0.5591 0.1306 323.04);
	--color-secondary-content: oklch(0.2 0.0421 319.46);
	--color-accent: oklch(0.8411 0.1446 324.75);
	--color-accent-content: oklch(0.4 0.1446 324.75);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(0.2188 0.0898 29.23);
	--color-error-content: oklch(0.65 0.0898 29.23);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@utility btn {
	@apply btn-outline;
}
